@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700|Roboto:400,500,700&display=swap');

* {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-size: 21px;
  line-height: 31px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
  filter: none;
}

input {
  filter: none;
  -moz-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
