@import 'scss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary: #2867b2;
}

// Global Window
.SH__Window__LockScroll {
  overflow: hidden !important;
}

// Group
.SH__Group {
  &.Horizontal {
    & > * + * {
      margin-left: 1rem;
    }
  }
  &.Vertical {
    & > * + * {
      margin-top: 1rem;
    }
  }
}
